nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background-color: gray;
    a{
        margin-right: 15px;
    }
}